.meeting-info-block {
    position: absolute;
    top:50px;
    left:50px;
    background-color: white;
    border-radius: 10px;
    padding:25px;
    width: 310px;
    .meeting-header{
       display: flex;
       align-items: center;
       justify-content: space-between;
       color: black;
    }
    .info-text{
        color:#222;
        font-size: 13px;
    }
    .meet-link{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f1f3f5;
        padding:15px;
        border-radius: 5px;
        span {
            font-size: 13px;
            font-weight: 300;
            flex:1;
            color:#555;
        }
    }
}
