.messenger-container {
    position: absolute;
    top:0;
    right: 0;
    background-color: white;
    height: calc(100vh - 90px);
    width: 350px;
    box-sizing: border-box;
    display: flex;
    // justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    .messenger-header{
        padding:20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        h3 {
            margin: 0;
            font-weight: 400;
        }
    }
    .messenger-header-tabs{
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #eee;
        .tab{
            display: flex;
            align-items: center;
            justify-content: center;
            width:100%;
            color: #555;
            p{
                margin-left: 10px;
            }
            &.active {
                color: green;
                border-bottom: 2px solid green;
            }
            &:hover{
                cursor: pointer;
                background-color: rgba( 0,121,107,0.30);
            }
            
        }
    }
    .chat-section{
        padding: 20px;
        flex:1; 
        overflow-y: scroll;           
        .chat-block{
            margin-bottom: 20px;
            .sender {
                font-weight: 500;
                font-size: 14px;
                small{
                    margin-left: 5px;
                    font-weight: 3 00;
                }
            }
            .msg {
                margin:0;
                padding-top: 5px;
                font-size: 14px;
                color:#555;
            }
        }
    }
    .send-msg-section{
        color:#555;
        padding:20px;
        border-top: 1px solid #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        input{
            color:black;
            padding: 5px;
            border: none;
            outline: none;
            border-bottom: 1px solid #eee;
            width: 90%;
        }
        .icon{
            cursor: pointer;
            &:hover{
                color: green;
            }
        }
    }
}